/* .sider {
  overflow: auto;
  /* height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0; */

.wrapper {
  display: flex;
}

.menu_wrapper {
    min-width: 175px;
    height: 100vh;
}

.menu {
  max-width: 175px;
  height: 100vh;
  position: fixed;
  padding: 10px;
}

.main {
  width: 100%;
  padding: 10px;
  margin-left: 12%;
  margin-right: 21%;
  background-color: rgb(43, 185, 220);
}