.userAva {
    width: 70px;
    height: 70px;
}

.wrapper {
    padding: 10px;
}

.selectedPage {
    font-weight: bold;
}

span:hover {
    cursor: pointer;
}

.paginatorWrapper {
    display: flex;
    justify-content: center;
}

.skeleton {
    width: 300px;

}
